In [1]:
import pandas as pd
import os
#Change for future filenamechanges
filepath = '../raw/auswertung_152.' # missing extension (xslx)!
target = '../data/preprocessed/preprocessed.' # missing extension!

In [5]:
#Load your dataset & save as csv(allows easier viewing and gitdiff)

df = pd.read_excel(filepath + 'xlsx')
df.to_csv(filepath + 'csv')

#Display the first few rows of the dataset
df.head()

,Zeitstempel,Wie heißt die virtuelle Influencerin?,Die virtuelle Influencerin kann wie ein Mensch sprechen.,Die virtuelle Influencerin wirkt glücklich.,Die virtuelle Influencerin wirkt freundlich.,Die virtuelle Influencerin wirkt respektvoll.,Die virtuelle Influencerin wirkt witzig.,Die virtuelle Influencerin wirkt fürsorglich.,Diese Werbung hat mich glücklich gemacht.,Ich habe mich beim Anschauen dieser Werbung freudig gefühlt.,...,Werbung mit der virtuellen Influencerin ist unkonventionell.,Werbung mit der virtuellen Influencerin ist ungewöhnlich.,Werbung mit der virtuellen Influencerin ist einzigartig.,"Ich kann mir vorstellen, Dienstleistungen des Unternehmens auszuprobieren, welche von der virtuellen Influencerin beworben werden.","Ich kann mir vorstellen, Produkte zu probieren, welche die virtuelle Influencerin empfiehlt.","In Zukunft werde ich wahrscheinlich die Marke ausprobieren, welche die virtuelle Influencerin empfiehlt.",Wie alt sind Sie?,Welches Geschlecht haben Sie?,Wie ist Ihre aktuelle berufliche Situation?,"Leben Sie in einem deutschsprachigen Land (Deutschland, Österreich, Schweiz)?"
0,2024-05-21 17:34:44,Lil Miquela,1,5,6,5,4,5,2,1,...,5,5,2,5,3,5,25-34,Möchte ich nicht angeben,Möchte ich nicht angeben,NaN
1,2024-05-22 11:11:55,Lil Miquela,5,2,6,6,5,6,3,3,...,5,5,3,4,5,6,25-34,Männlich,Schüler/Student,NaN
2,2024-05-23 14:25:34,Lil Miquela,6,6,6,6,6,6,2,2,...,3,3,3,3,3,2,25-34,Weiblich,Schüler/Student,NaN
3,2024-05-27 20:27:12,Lil Miquela,6,6,6,6,6,6,4,4,...,5,5,5,4,4,3,55-64,Männlich,Selbstständig,NaN
4,2024-05-27 21:54:19,Lil Miquela,7,7,7,1,7,4,4,4,...,7,4,2,7,7,7,64 oder älter,Weiblich,Rentner,NaN

In [6]:
print(df.columns)
oldNames = df.columns

Index(['Zeitstempel', 'Wie heißt die virtuelle Influencerin?',
       'Die virtuelle Influencerin kann wie ein Mensch sprechen.',
       'Die virtuelle Influencerin wirkt glücklich.',
       'Die virtuelle Influencerin wirkt freundlich.',
       'Die virtuelle Influencerin wirkt respektvoll.',
       'Die virtuelle Influencerin wirkt witzig.',
       'Die virtuelle Influencerin wirkt fürsorglich.',
       'Diese Werbung hat mich glücklich gemacht.',
       'Ich habe mich beim Anschauen dieser Werbung freudig gefühlt.',
       'Diese Werbung hat mein Interesse geweckt.',
       'Ich war an dieser Werbung interessiert',
       'Diese Werbung hat mich aufgeregt (hat Emotionen ausgelöst).',
       'Werbung mit der virtuellen Influencerin ist aufregend.',
       'Werbung mit der virtuellen Influencerin ist neuartig.',
       'Werbung mit der virtuellen Influencerin ist unkonventionell.',
       'Werbung mit der virtuellen Influencerin ist ungewöhnlich.',
       'Werbung mit der virtuellen Influencerin ist einzigartig.',
       'Ich kann mir vorstellen, Dienstleistungen des Unternehmens auszuprobieren, welche von der virtuellen Influencerin beworben werden.',
       'Ich kann mir vorstellen, Produkte zu probieren, welche die virtuelle Influencerin empfiehlt.',
       'In Zukunft werde ich wahrscheinlich die Marke ausprobieren, welche die virtuelle Influencerin empfiehlt.',
       'Wie alt sind Sie?', 'Welches Geschlecht haben Sie?',
       'Wie ist Ihre aktuelle berufliche Situation?',
       'Leben Sie in einem deutschsprachigen Land (Deutschland, Österreich, Schweiz)?'],
      dtype='object')

In [7]:
#Rename columns for easier identification
newNames = ['time', 'check',
       'q1_1',
       'q1_2',
       'q1_3',
       'q1_4',
       'q1_5',
       'q1_6',
       'q2_1',
       'q2_2',
       'q2_3',
       'q2_4',
       'q2_5',
       'q3_1',
       'q3_2',
       'q3_3',
       'q3_4',
       'q3_5',
       'q4_1',
       'q4_2',
       'q4_3',
       'age', 'gender',
       'occupation',
       'dach']

In [8]:
#Creating legend
legende = {oldNames[i]: newNames[i] for i in range(len(oldNames))}
#changing names
df = df.rename(columns = legende)
df

,time,check,q1_1,q1_2,q1_3,q1_4,q1_5,q1_6,q2_1,q2_2,...,q3_3,q3_4,q3_5,q4_1,q4_2,q4_3,age,gender,occupation,dach
0,2024-05-21 17:34:44,Lil Miquela,1,5,6,5,4,5,2,1,...,5,5,2,5,3,5,25-34,Möchte ich nicht angeben,Möchte ich nicht angeben,NaN
1,2024-05-22 11:11:55,Lil Miquela,5,2,6,6,5,6,3,3,...,5,5,3,4,5,6,25-34,Männlich,Schüler/Student,NaN
2,2024-05-23 14:25:34,Lil Miquela,6,6,6,6,6,6,2,2,...,3,3,3,3,3,2,25-34,Weiblich,Schüler/Student,NaN
3,2024-05-27 20:27:12,Lil Miquela,6,6,6,6,6,6,4,4,...,5,5,5,4,4,3,55-64,Männlich,Selbstständig,NaN
4,2024-05-27 21:54:19,Lil Miquela,7,7,7,1,7,4,4,4,...,7,4,2,7,7,7,64 oder älter,Weiblich,Rentner,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,2024-06-26 13:46:50,Lil Miquela,5,5,5,4,5,4,5,5,...,4,4,4,6,6,6,35-44,Weiblich,Selbstständig,Ja
133,2024-06-26 13:47:59,Lil Miquela,6,6,6,5,6,4,6,6,...,4,4,4,7,6,6,18-24,Männlich,Schüler/Student,Ja
134,2024-06-26 13:49:14,Lil Miquela,6,5,5,5,6,4,5,5,...,4,4,4,6,6,6,35-44,Weiblich,Angestellt,Ja
135,2024-06-26 13:50:10,Lil Miquela,7,4,5,5,5,3,3,4,...,6,6,4,4,4,2,25-34,Männlich,Angestellt,Ja
136,2024-06-30 18:27:50,Lil Miquela,5,5,6,6,4,5,3,4,...,6,6,5,5,5,3,25-34,Männlich,Angestellt,Ja

In [9]:
# Transform ordnals scales to dummy: check,age,gender, occupation, dach

#check, 1 if 'lil', 0 otherwise
df['check'] = df['check'].replace('Lil Miquela',1)
df['check'] = df['check'].replace('Noonoouri',0)
df['check'] = df['check'].replace('Imma',0)
print(df['check'].sample(10))

#aged
#['25-34', '55-64', '64 oder älter', '18-24', '45-54', '35-44']
ageOld = df['age'].unique().tolist()
df['age'] = df['age'].astype('category').cat.codes
ageNew = df['age'].unique().tolist()
ageLegend = { ageOld[i] : ageNew[i] for i in range(len(ageOld))}
df['age'].sample(10)
# Check the preprocessing results

40     1
77     1
3      1
59     1
133    1
23     1
65     1
32     1
24     1
117    0
Name: check, dtype: int64

/tmp/ipykernel_36585/2362613748.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['check'] = df['check'].replace('Imma',0)

11     1
32     1
82     1
26     1
74     1
84     1
112    1
16     0
115    1
97     1
Name: age, dtype: int8

In [10]:
df

,time,check,q1_1,q1_2,q1_3,q1_4,q1_5,q1_6,q2_1,q2_2,...,q3_3,q3_4,q3_5,q4_1,q4_2,q4_3,age,gender,occupation,dach
0,2024-05-21 17:34:44,1,1,5,6,5,4,5,2,1,...,5,5,2,5,3,5,1,Möchte ich nicht angeben,Möchte ich nicht angeben,NaN
1,2024-05-22 11:11:55,1,5,2,6,6,5,6,3,3,...,5,5,3,4,5,6,1,Männlich,Schüler/Student,NaN
2,2024-05-23 14:25:34,1,6,6,6,6,6,6,2,2,...,3,3,3,3,3,2,1,Weiblich,Schüler/Student,NaN
3,2024-05-27 20:27:12,1,6,6,6,6,6,6,4,4,...,5,5,5,4,4,3,4,Männlich,Selbstständig,NaN
4,2024-05-27 21:54:19,1,7,7,7,1,7,4,4,4,...,7,4,2,7,7,7,5,Weiblich,Rentner,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,2024-06-26 13:46:50,1,5,5,5,4,5,4,5,5,...,4,4,4,6,6,6,2,Weiblich,Selbstständig,Ja
133,2024-06-26 13:47:59,1,6,6,6,5,6,4,6,6,...,4,4,4,7,6,6,0,Männlich,Schüler/Student,Ja
134,2024-06-26 13:49:14,1,6,5,5,5,6,4,5,5,...,4,4,4,6,6,6,2,Weiblich,Angestellt,Ja
135,2024-06-26 13:50:10,1,7,4,5,5,5,3,3,4,...,6,6,4,4,4,2,1,Männlich,Angestellt,Ja
136,2024-06-30 18:27:50,1,5,5,6,6,4,5,3,4,...,6,6,5,5,5,3,1,Männlich,Angestellt,Ja

In [11]:
#Save all the data in the next Folder
df.to_csv(target + 'csv')
df.to_excel(target + 'xlsx')

In [19]:
print(df['q2_4'].mean())
print(df['q2_4'].unique())
df['q2_4'].sample(20)

5.0
[ 5. nan]

80    NaN
8     NaN
69    NaN
125   NaN
17    NaN
27    NaN
44    NaN
77    NaN
88    NaN
22    NaN
113   NaN
107   NaN
112   NaN
7     NaN
25    NaN
48    NaN
29    NaN
95    NaN
15    NaN
90    NaN
Name: q2_4, dtype: float64